.fifthPart{
    @apply bg-[#f3f3f3] top-[2.8rem] border-none pb-[10rem] relative z-[-100];
  }
  .fifthFlex {
    @apply mt-[2rem] grid gap-[1.5rem];
    grid-template-columns: repeat(3, minmax(100px, auto));
  }
  
  .singleVisit,.demand,.maintain{
    @apply border-none rounded-[.6rem] relative text-center hover:cursor-pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-in-out
  }
  .fifthFlex .maintain:hover,.singleVisit:hover,.fifthFlex .demand:hover{
    transform: scale(1.1);
  }
  @media only screen and (max-width:724px) {
    .singleVisit,.demand,.maintain{
      transition: none
    }
    .fifthFlex .maintain:hover,.singleVisit:hover,.fifthFlex .demand:hover{
      transform: none;
    }
  }


  .singleVisit,.maintain{
    @apply mt-[7rem]
  }
  .singleVisit .singleVisit1,.demand .demand1,.maintain .maintain1{
    @apply bg-[darkslategray] absolute top-0 right-0 left-0 pt-[1rem] pb-[3rem];
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .singleVisit .singleVisit1 h2,.demand .demand1 h2,.maintain .maintain1 h2{
    @apply text-[1rem] smm:text-[1.5rem] font-[900] pb-3 text-[#f3f3f3]
  }
  .singleVisit1 button, .demand1 button,.maintain1 button{
    @apply p-[2rem] text-[.9rem] smm:text-[1.8rem] tracking-[.1rem] rounded-[5px] text-[#f3f3f3];
    border: 1px solid rgba(255, 255, 255, 0.76);
    background-color: transparent;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  }
  
  .it{
    @apply smm:text-[1rem] text-[.8rem];
  }
  .singleVisit .singleVisit2, .demand .demand2,.maintain .maintain2{
    @apply flex flex-col items-center justify-center gap-8 pt-[20rem] text-[black];
  }
  .singleVisit .singleVisit2 p, .demand .demand2 p,.maintain .maintain2 p{
    @apply flex items-center gap-2
  }
  .singleVisit2 button,.demand2 button, .maintain2 button{
    @apply border-none bg-[darkslategray] p-[15px] text-[.8rem] smm:text-[1.1rem] text-[white] w-[10rem] mt-[1rem] mb-[5rem] rounded-[12px];
    background-image: linear-gradient(to right, darkslategray 70%,#ddfceed3);
    transition: background-image 5s ease-in-out, cursor 5s ease-in-out;
  }
  .another-p{
    @apply text-[12px] smm:text-[14px]
  }
  .singleVisit2 button:hover,.demand2 button:hover, .maintain2 button:hover{
    background-image: linear-gradient(to right, #ddfceed3 2%, darkslategray 70% );
    cursor: pointer;
  }
  
  .demand .demand2{
    padding-top: 18rem;
  }
  
  .maintain .maintain2{
    padding-top: 20rem;
  }

  @media only screen and (max-width:992px) {
    .fifthFlex{
      grid-template-columns: 1fr;
    }
    .maintain{
      margin-top: 0;
    }
  }
  .fifthPart::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" height="100%" width="100%"><path d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" fill="black"/></svg>');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1) brightness(100%);
    padding-top: 30px;
    z-index: 1;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
  