.loader-container {
  @apply flex flex-col items-center justify-center gap-3 h-screen bg-neutral overflow-hidden relative;
}

.brush-wrapper {
  @apply flex justify-center items-center ;
}

.roller-icon {
  @apply text-[4rem] text-primary font-clicker animate-float transition duration-300 ease-in-out;
}

.loader-text {
  @apply text-center font-coffee font-bold;
}

.brand-main {
  @apply text-[2.5rem] text-primary;
}

.brand-sub-wrapper {
  @apply flex justify-center items-center;
}

.brand-sub {
  @apply text-[1.5rem] text-text-muted;
  margin-left: 0.25rem;
}

.dot::after {
  content: '';
  display: inline-block;
  width: 1ch;
  animation: dots 1.2s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}
