/* sixth part */
.sixthPart{
  @apply relative z-[-100]
}
.testSlidesContainer{
    @apply flex smm:flex-row flex-col items-center justify-between gap-[2rem] pb-[10rem];
  }
  .testSlide1,.testSlide2{
    @apply text-center;
  }
  .slide-img-cont{
    @apply flex items-center justify-center;
  }
  .testSlide1 img, .testSlide2 img{
    @apply w-[10rem] h-[8rem] object-cover border-[5px] border-solid border-[darkslategray] rounded-[5px] mb-[-3rem]
  }
  .testSlide1 .comment,.testSlide2 .comment{
    @apply w-full bg-[#f3f3f3] rounded-[5px] pt-[3rem] pb-[2rem] text-[black]
  }
  .testSlide1 .comment h3, .testSlide2 .comment h3{
    @apply text-[.9rem] smm:text-[1.5rem] text-[darkslategray] font-[1000] mb-0;
  }
  .testSlide1 .comment h4,.testSlide2 .comment h4{
    @apply mt-0 text-[.8rem] smm:text-[1.1rem] mb-0 font-[700];
  }
  .testSlide1 .comment p,.testSlide2 .comment p{
    @apply mt-[.5rem] px-[2rem];
  }
  .sixthPart::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" height="100%" width="100%"><path d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" fill="black"/></svg>');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1) brightness(95.5%);
    padding-top: 30px;
    z-index: -20;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
  